.general {
  justify-content: center;
  margin: auto;
  width: 67%;
  box-shadow: 0 1px 6px black;
  

  
  background-color: white;
  border-radius: 5px;
  margin-top: 3%;
  height: fit-content;

}
body {
  background: linear-gradient(90deg,#5fc0ea,
  #b076da);
}

.hero{
 display: flex;

}
.error{
  font-size: larger;
  font-style: italic;
text-align: center;
color: #9a5bc6;
margin-right: 90px;


}
